*{
    box-sizing: border-box;
    margin: 5px auto;
}
#tong{
    width: 1100px;
    border: 1px solid grey;
    padding: 10px;
}
table{
    margin-left: 0px;
}
td{
    padding-right: 10px;
}